<div >
	<div class="content">
		<p>
			Cô ấy thấy và hỏi tôi có sao không, lúc đó tôi rất đau nhưng tôi lại nói không sao. Vì đã rất lâu, tôi đã sống một mình, có đau đến mấy tôi cũng chịu được.
		</p>
		<p>
			Duyên muốn uống trà sữa, muốn uống 2 ly. Lúc đó tôi kinh ngạc với niềm đam mê trà sữa to lớn như vậy. Tôi cũng ráng chiều theo. Nhưng vì trên đường về uống không hết tôi đã chửi một tăng ròi. =)) 
		</p>
		<p>
			Núi Long An trùng trùng điệp điệp, trời thì tối mà nhà cô ấy ở đâu thì éo biết, éo nhớ. Tôi đã phải nhờ đến chị Google khá nhiều mới biết con đường lên núi đó. 
		</p>
		<p>
			Về chưa đến nhà còn ghé vào tiệm sửa mắt kính để thay cái tròng hay cái gọng gì đó quên bà nó rồi. Lúc đó tôi ở ngoài canh xe nên không biết sự việc bên trong.
		</p>
	</div>
	<div class="pagination right">10</div>
</div>