<div >
	<center>
		<h1 class="chapter">Chương 3:</h1>
		<h1 class="chapter">Hạnh phúc</h1>
	</center>
	<div class="content">
		<p>Sau lần đầu gặp mặt, tôi nhận ra rằng là tôi đã thích cô ấy rồi.</p>
		<p>
			Tôi đã mất vài ngày để  hỏi tiền bối gu gồ về con đường lên núi Long An. Tôi biết yêu xa là tôi sẽ phải cố gắng rất nhiều để mọi thứ tốt nhất có thể.
			Ngày 28-04-2018, chúng tôi có cuộc hẹn lúc 17h, tôi đã tranh thủ đi lúc 13h, lý thuyết là một chuyện, thực hành lại là chuyện khác, tôi đã vạch ra rất nhiều cung đường nhưng gu gồ đâu phải cái gì cũng biết, tôi đã đi sai rất nhiều lần nhưng cuối cùng cũng đến được con đường tôi đã đi lần đâu.
		</p>
		<p>
			Cái khó ở đây là hẻm nào dẫn đến nhà ẻm, lần đầu đi thì vào buổi tối nên chả nhớ hẻm nào ra hẻm nào, quẹo tùm lum hẻm, sai tùm lum nên tôi đã quyết định gọi hỏi cô áy.
		</p>
	</div>
	<div class="pagination right">12</div>
</div>