<div >
	<div class="content">
		<p>Sau nhiều lần suy nghĩ nên đi đâu, cô ấy quyết định đi Phú Sinh. Đường đi cũng không biết, lại nhờ bác gu gồ chỉ điểm nữa.</p>
        <p>Loanh quanh một hồi thì chúng tôi cũng đã đến nơi.</p>
        <p>Phú Sinh là một nơi nhiều danh lam thắng cảnh nổi tiếng, thiết kế đơn giản, không cầu kỳ nhưng tôi lại thấy vui vì được ở bên cô ấy.</p>
        <div class="images" style="display: grid;grid-template-columns: auto auto auto;">
            <img width="100%" src="images/3-1.jpg">
            <img width="100%" src="images/3-2.jpg">
            <img width="100%" src="images/3-5.jpg">
        </div>
	</div>
	<div class="pagination left">13</div>
</div>