<div >
	<div class="content">
        <p>Trên con đường về , chúng tôi đã có kỉ niệm với nhau</p>
        <p>Nụ hôn đầu tiên ở một con đường vắng vẻ, tối thui, rất ít người qua lại.</p>
        <p>Tuy rất ngắn nhưng cả hai đều ngượng ngùng.</p>
        <p>Một cô gái mới lớn còn khờ dại, còn ngây thơ, đến hôn nhau còn sợ người ta thấy, rất e dè, nhút nhát nhưng lại là một cô gái lém lỉnh, không phải dạng vừa đâu (chương sau sẽ rõ)</p>
        <p>Với tôi, một cảm giác sau ngần ấy năm giam mình, tôi lại được sống, tràn đầy hạnh phúc.</p>
        <p>Nếu lúc trước, mỗi lần ngủ tôi đều mơ về quá khứ, sống trong quá khứ thì nay tôi đã mơ thấy tương lai và cố gắng thực hiện chúng.</p>
        <p>Không phải tình yêu nào cũng hoàn hảo, quan trọng là chúng ta có vì nhau mà cố gắng không.</p>
	</div>
	<div class="pagination left">15</div>
</div>