<div >
	<div class="content">
		<p>
			Tôi muốn chấm dứt mối quan hệ này, tôi sợ yêu, sợ một lần nữa lại đổ vỡ. Nhưng lại không đủ can đảm làm điều đó. Con tim tôi đã rung động rồi.
		</p>
		<p>
			Nhiều lần Duyên muốn nghe tôi nói, muốn thấy hình ảnh tôi nhưng tôi từ chối.
		</p>
		<p>
			Vào đúng ngày 11-04-2018, tôi đã gọi điện và gửi lời chúc sinh nhật đến cô gái. Cô gái cười trong vui sướng. Lúc đó, tôi có thể cảm nhận niềm vui của cô ấy lớn thế nào.
		</p>
		<p>
			Vì là ngày sinh nhật và cũng từ rất lâu cô ấy gạ tôi nói mà thất bại nên bây giờ bắt tôi hát lại vài chục bài để trả thù.
		</p>
		<p>
			Nỗi sợ, ký ức của quá khứ bắt đầu ùa về. Niếm vui, nụ cười, hạnh phúc cũng tăng lên. Hạnh phúc sẽ chiến thắng hay quá khứ áp đảo ?
		</p>
	</div>
	<div class="pagination right">6</div>
</div>