<div id="end" class="page end" style="background-image: url('images/end2.jpg'); background-position: top; color: #fff">
	<center>
		<h1>LỜI CUỐI</h1>
	</center>
	<div class="content" >
		<p>
			Giai đoạn 1: Trái tim bạn bắt đầu loạn nhịp
		</p>
		<p>
			Giai đoạn 2: Cả hai dính nhau như hình với bóng
		</p>
		<p>
			Giai đoạn 3: Sự khác biệt ngày càng lớn dần
		</p>
		<p>
			Giai đoạn 4: Chúng ta là một nửa của nhau
		</p>
		<p>
			Giai đoạn 5: Mình cưới nhau đi thôi!
		</p>
		<br/>
		<p>
			Đa số các mối quan hệ kết thúc đều đã đến giai đoạn 3.
		</p>
		<p>
			Cuộc tình chúng ta cũng vậy. Nhưng hi vọng nó sẽ tiếp tục chứ không phải kết thúc ở đây.
		</p>
		<p>
			Vượt qua được giai đoạn này, mọi thứ sẽ dễ dàng hơn nhiều.
		</p>
		<p>
			Đừng để cô đơn làm ta lạc lối.
		</p>
	</div>
	<div class="footer">
		<center>
			<h6>Nhà xuất bản Nguyễn Thịnh</h6>
			<h6>Năm phát hành 2021</h6>
		</center>
	</div>
</div>